.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

/* .productCard:hover {
  transform: translateY(-50px);
} */

.productCard img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.productCard h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.productCard p {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.productCard .price {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0;
}
