.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  border-bottom: 1px solid #ccc;
  background-color: #221f1f;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  padding-inline: 1rem;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 60s linear infinite;
}

@keyframes marquee {
  0% {
    text-indent: 100%;
  }
  100% {
    text-indent: -100%;
  }
}

.done {
  display: flex;
  flex-direction: column;
  align-content: center;
  /* border-bottom: 1px solid #ccc; */
  background-color: #221f1f;
  position: sticky;
  bottom: 0;
  z-index: 100;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.done {
  margin-top: auto;
  position: sticky;
  bottom: 0;
}
.done button {
  margin-top: 0;
  width: 70%;
  background-color: white;
  color: #221f1f;
  font-weight: 800;
}
