.paymentcontainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem;
}

.verifyaddress, .payment, .cart {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-bottom: 0px;
  width: 100%;
  margin: 1rem;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.1);
}

.selected{
  background-color: rgb(230, 129, 98);
  color: white

}

.heading {
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

.address, .card, .cartitems  {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addAddress, .addcard {
  display: flex;
  padding: 0.5rem;
  background-color: black;
  color: white
}

.addressinfo, .cardinfo {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
  padding-left: 1rem;
}

.iteminfo {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-top:0rem;
  width: 100%;
  justify-content: flex-start;
}

.itemprice {
  color: green;
}
.cartitems  {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

}

.placeorder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  width: 100%;
}
.placeorder button {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem; 
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 0;
  width: 100%;
}

.namecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.visalogo {
  width: 30px;
  height: 30px;
  padding-right: 0.5rem;
}

.card1 {
  font-weight: bold;
  font-style: italic;
}
