.container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.5rem;
  }

.dashboard {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    /* margin-top: 2rem; */
    margin-bottom: 0rem;
}

.dash1, .dash2 {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.dash1 div{
    width: 25%;
    text-align: center;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}
.dash2 div{
    width:25%;
    text-align: center;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}
.navto {
    text-decoration: none;
    color: black;
  }