.container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.5rem;
  }

.dashboard {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 3rem;
    /* margin-top: 2rem; */
    margin-bottom: 0rem;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}

.dashchild {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-radius: 4px;
    width: 100%;
    justify-content: space-between;
}

.dashchild p {
    margin: 0rem;
    color: green;
    font-weight: bold;

}

.navto {
    text-decoration: none;
    color: black;
  }