.productCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  /* border-radius: 4px; */
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-bottom: 3px solid #f0f0f0;
}

.productCard:active {
  transform: translateY(-5px);
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* padding: 0.5rem; */
}

.productCard img {
  /* width: 100%; */
  /* height: auto; */
  border-radius: 4px;
  /* margin-bottom: 0.5rem; */
}

.imageContainer h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.imageContainer p {
  font-size: 0.875rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0;
  text-decoration: none;
}
