.tabContainer {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #e0e0e0;
}

.tabContainer h3 {
  margin: 0rem;
  padding: 2.2rem;  
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: fit-content;
}

.selected {
  background-color: black;
  color: white;
}

.orders {
  display: flex;
  flex-direction: column;
  padding: 0rem;
}

.orderitem {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.inditem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.inditem h4 {
  margin:0rem;
  padding-top:0.5rem;
  width: fit-content
}
.inditem div {
  margin:0rem;
  padding-top:0.5rem;
  padding-left:0.5rem;
  width:fit-content
}
.parcontainer {
  /* display: flex; */
  flex-direction: column;
  margin-bottom: 6.5rem;
}

.itemprice {
  color: green;
}

.navto {
  text-decoration: none;
  color: black;
}