/* CartItem.module.css */
.cartItem {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.productImage {
  width: 35%;
  height: 100%;
  margin-right: 0.5rem;
  border-radius: 5px;
}

.productDetails {
  width: 65%;
  align-items: center;
}


.productName {
  font-size: 1.25rem;
  color: black;
  margin-bottom: 0rem;
  margin-top: 0rem;
  margin-left: 0.0rem;
  text-align: left;
}

.removeButton {
  margin:0rem;
  width: 40%;
}
