.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  font-size: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 90%;
  height:40px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 10px;

}

.search {
  margin: 0;
  padding: none;
  border: none;
  width: 90%;
  height: 95%;
  outline: none;

}

button:hover {
  background-color: #0066b3;
}
