/* forgetpassword.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputContainer label {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.inputContainer input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.inputContainer input:focus {
  outline: none;
  box-shadow: 0 0 2px 1px rgba(0, 122, 255, 0.5);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.buttonContainer button {
  background-color: #ff2600;
  color: white;
  border: none;
  border-radius: 17px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.buttonContainer button:hover {
  background-color: #0066b3;
}

.linkContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #007aff;
  text-decoration: none;
}

.linkContainer:hover {
  text-decoration: underline;
}
